---
layout: product
title: Смартфон Apple iPhone 14 Pro Max, 128GB, 5G, Deep Purple
---
	<div>
		{% include image.html imagename="iphone14.webp" %}
		{% include image.html imagename="iphone142.jpg" %}
		<p>IPhone 14 е много добър телефон за тези пари, който предлага подобрени камери, по-бърз чип A15 Bionic и забавен режим Action за заснемане на видео. 
		Този телефон включва и телефото увеличение и 120Hz дисплей. Някои може да искат да си вземат iPhone 14 Plus заради по-големия му екран и по-голямата батерия.
		</p>
		<table id="i14">
		  <tr>
			<th>SIM слотове</th>
			<th>Операционната система</th>
			<th>Цвят</th>
			<th>RAM памет</th>
		  </tr>
		  <tr>
			<td>DUAL SIM</td>
			<td>IOS 16</td>
			<td>Deep Purple</td>
			<td>6GB</td>
		  </tr>
		</table>
		<p>If you want to see a review of this phone click <a href="https://www.tomsguide.com/reviews/iphone-14">HERE!</a></p>
	</div>
