<!DOCTYPE html>
<html>
<head>
	<title>M-shop</title>
	<link rel="icon" type="image/png" href="favicon1.png">
	<link rel="stylesheet" href="style.css">
	<link href="bootstrap.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navs">
  		<div class="container-fluid">
    			<span class="navbar-brand mb-0 h1"><a href="index.html"><button><img src="backbutton.webp" class="backb"></button></a></span>
  		</div>
	</nav>
	<div>
		<h1 class="pzaglavie">{{page.title}}</h1>
	</div>
	{{ content }}
	{% if page.name == 'iphone14.html' %}
	<table id="i14">
	  <tr>
		<th>SIM слотове</th>
		<th>Операционната система</th>
		<th>Цвят</th>
		<th>RAM памет</th>
	  </tr>
	  <tr>
		<td>DUAL SIM</td>
		<td>IOS 16</td>
		<td>Deep Purple</td>
		<td>6GB</td>
	  </tr>
	</table>
	{% endif %}
</body>
</html>